#!/usr/bin/env xdg-open

[Desktop Entry]
Version=1.0
Type=Application
Terminal=false
Exec=collabkit trayicon
Name=CollabKit
Comment=Start Collabkit.
Icon=collabkit
Categories=Application;Network;