Source: collabkit
Section: net
Priority: extra
Maintainer: Christian Beier <dontmind@freeshell.org>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.9.1
Homepage: http://wiki.informatik.hu-berlin.de/nomads/index.php/CollabKit

Package: collabkit
Architecture: i386
Depends: ${shlibs:Depends}, zenity, xserver-xorg (>= 7.5)
Description: Multi-user multicast collaboration system
 CollabKit is a multi-user multicast collaboration system

